h1,
div {
    text-align: center;
}
#inner {
    width: 300px;
    margin: 0 auto;
    font-size: 13px;
}
@media screen and (max-width:430px) {
    div>img {
        width: 100%;
    }
    #inner {
        width: 100%;
        margin: 0 auto;
        font-size: 19px;
    }
}
div:hover:before{
    margin: 0 auto;
    text-align: center;
    width: 552px;
    height:336px;
    content: '';
    background:url('./排序图.png') no-repeat 100% 100%;
    display: block;
    animation: 3s animationsbefore linear;
    -webkit-animation:3s animationsbefore linear;
}
@keyframes animationsbefore{
    from {
        width: 55px;
        height:55px;
        background: url('./animationsxztime.jpg')no-repeat 100% 100%;
        border-radius:50%;
        width: 0px;
        height: 0px;
    }
    to {
        background: url('./animationsxztime.jpg')no-repeat 100% 100%;
        width: 250px;
        height:250px; 
        transform: scale(2);
        border-radius:50%;
        transform: rotate(100860deg)
    }
}
@-webkit-keyframes animationsbefore{
    from {
        width: 55px;
        height:55px;
        background: url('./animationsxztime.jpg')no-repeat 100% 100%;
        border-radius:50%;
        width: 0px;
        height: 0px;
    }
    to {
        background: url('./animationsxztime.jpg')no-repeat 100% 100%;
        width: 250px;
        height:250px;
        transform: scale(2);
        border-radius:50%;
        transform: rotate(100860deg)
    }
}