h1,
div {
    text-align: center;
}
#inner {
    width: 300px;
    margin: 0 auto;
    font-size: 13px;
}
@media screen and (max-width:430px) {
    div>img {
        width: 100%;
    }
    #inner {
        width: 100%;
        margin: 0 auto;
        font-size: 19px;
    }
}
h1:hover::before{
    margin: 0 auto;
    text-align: center;
    width: 552px;
    height:336px;
    content: '';
    border-width:10px 40px 20px;
    border-style: solid;
    border-color:#000 #e1224f #ff0 #0ff0ff;
    background:url('./排序图.png') no-repeat 100% 100%;
    display: block;
    animation:animationsbefore 2s linear;
    -webkit-animation:animationsbefore 2s linear;
    -o-animation: animationsbefor 2s linear;
    -ms-animation: animationsbefore 2s linear;
}
/* 
transform:rotate3d(x,y,z,deg)
x
<number> 类型， 表示旋转轴X坐标方向的矢量。
y
<number> 类型， 表示旋转轴Y坐标方向的矢量。
z
<number> 类型， 表示旋转轴Z坐标方向的矢量。
a
<angle> 类型，表示旋转角度。正的角度值表示顺时针旋转，负值表示逆时针旋转
*/
@keyframes animationsbefore{
    from {
        width: 0px;
        height:0px;
        border-width:0 40px 40px;
        border-style: solid;
        border-color:#000 #e1224f #ff0 #0ff0ff;
        background:url('./排序图.png') no-repeat 100% 100%;
    } 
    to {
        width: 500px;
        height:400px;
        border:100px solid;
        background:url('./排序图.png') no-repeat 100% 100%;
        border-block-color:#fff;
        transform:rotate3d(.6,1,.6,1024deg);
    }
}
@-webkit-keyframes animationsbefore{
    from {
        width: 0px;
        height:0px;
        border-width:0 40px 40px;
        border-style: solid;
        border-color:#000 #e1224f #ff0 #0ff0ff;
        background:url('./排序图.png') no-repeat 100% 100%;
    } 
    to {
        width: 500px;
        height:400px;
        border:100px solid;
        background:url('./排序图.png') no-repeat 100% 100%;
        border-block-color:#fff;
       transform:rotate3d(.6,1,.6,1024deg);
    }
}
@-o-keyframes animationsbefore{
    from {
        width: 0px;
        height:0px;
        border-width:0 40px 40px;
        border-style: solid;
        border-color:#000 #e1224f #ff0 #0ff0ff;
        background:url('./排序图.png') no-repeat 100% 100%;
    } 
    to {
        width: 500px;
        height:400px;
        border:100px solid;
        background:url('./排序图.png') no-repeat 100% 100%;
        border-block-color:#fff;
       transform:rotate3d(.6,1,.6,1024deg);
    }
}
@-ms-keyframes animationsbefore{
    from {
        width: 0px;
        height:0px;
        border-width:0 40px 40px;
        border-style: solid;
        border-color:#000 #e1224f #ff0 #0ff0ff;
        background:url('./排序图.png') no-repeat 100% 100%;
    } 
    to {
        width: 500px;
        height:400px;
        border:100px solid;
        background:url('./排序图.png') no-repeat 100% 100%;
        border-block-color:#fff;
       transform:rotate3d(.6,1,.6,1024deg);
    }
}